@import "../components/variables.scss";

.tata-bg-overlay {
  position    : absolute;
  top         : 0;
  bottom      : 0;
  left        : 0;
  right       : 0;
  height      : 100%;
  width       : 100%;
  // background  : $bg-color-primary6;

  &--black {
    background: transparent;
    transition: $transitionall;
  }
}

.tsa-new-bg {
  background-color: rgba(231, 232, 233, 0.43);
}