.txt-primary {
  color: $primary !important;
}
.txt-white {
  color: #ffff !important;
}
.txt-secondary {
  color: $secondary !important;
}

.txt-gray {
  color: $gray-400 !important;
}

.txt-mild-black {
  color: #242424 !important;
}

.txt-mild-grey {
  color: #a4a4a4;
}

.txt-red {
  color: rgba(255, 0, 0, 1);
}

.txt-2d3577 {
  color: #2d3577 !important;
}

.txt-grey {
  color: #a4a4a4;
}
.txt-orange {
  color: #f68f51;
}
.txt-black {
  color: #414042;
}
.text-dark-blue {
  color: #2c3577;
}
.text-bl-black {
  color: #000000;
}
.txt-grey-grey {
  color: #b9b9b9;
}
.box-shadow {
  box-shadow: 4px 4px 44px rgba(0, 0, 0, 0.1) !important;
}
.text-blue-drk {
  color: #2d3577;
}
.text-ligt-grey {
  color: #6a7079;
}
.text-bl {
  color: #212021;
}

.text-mild-black{
  color : rgba(6, 23, 35, 0.75) !important;
}
.txt-grey-300{
  color: rgba(6, 23, 35, 0.52);
}

.txt-grey-100{
  color: #495057;
}

.txt-black-300{
  color :  #343335 !important;
}
.txt-blue-700{
  color: #1F2D3D;
}
.txt-061{
  color :#061723;
}
