.imgfluid {
  max-width : 100%;
  object-fit: cover;
}

// .imgautox454 {
//   height: 250px;
//   width : 100%;

//   @media(min-width:768px) {
//     height: 380px;
//   }

//   @media(min-width:992px) {
//     height: 454px;
//   }
// }

// .imgwx650 {
//   height: 277px;
//   width : 100%;

//   @media(min-width:768px) {
//     min-height: 420px;
//     height    : 100%;
//   }

//   @media(min-width:992px) {
//     min-height: 600px;
//   }
// }

// .imgwx360 {
//   height: 260px;
//   width : 100%;

//   @media(min-width:768px) {
//     height: 300px;
//   }

//   @media(min-width:992px) {
//     height: 360px;
//   }
// }

// .img180x180 {
//   height: 128px;
//   width : 128px;

//   @media(min-width:768px) {
//     height: 125px;
//     width : 125px;
//   }

//   @media(min-width:992px) {
//     height: 180px;
//     width : 180px;
//   }
// }

// // Explore design card image

// .img255x281 {
//   height: 156px;
//   width : 255px;

//   @media(min-width:768px) {
//     height: 281px;
//     width : 100%;
//   }

//   @media(min-width:1200px) {
//     height: 281px;
//     width : 255px;
//   }
// }

// // TATA product cards

// .productimg604x604 {
//   @media (min-width: 768px) {
//     height: 420px;
//   }

//   @media (min-width: 992px) {
//     height: 520px;
//   }

//   @media (min-width: 1200px) {
//     height: 640px;
//   }
// }

// .productimg604x376 {
//   @media (min-width: 768px) {
//     height: 300px;
//   }

//   @media (min-width: 1200px) {
//     height: 376px;
//   }
// }

// .productimg604x432 {
//   @media (min-width: 768px) {
//     height: 355px;
//   }

//   @media (min-width: 1200px) {
//     height: 432px;
//   }
// }

// .productimg604x472 {
//   @media (min-width: 768px) {
//     height: 375px;
//   }

//   @media (min-width: 1200px) {
//     height: 472px;
//   }
// }

// .productimg604x593 {
//   @media (min-width: 768px) {
//     height: 390px;
//   }

//   @media (min-width: 992px) {
//     height: 490px;
//   }

//   @media (min-width: 1200px) {
//     height: 593px;
//   }
// }

// // card image

// .img295x295 {
//   height: 180px;
//   width : 100%;

//   @media(min-width:768px) {
//     height: 295px;
//     width : 360px;
//   }

//   @media(min-width:992px) {
//     width: 275px;
//   }
// }

// // Menu

// .img180x130 {
//   width : 200px;
//   height: 150px;
// }

// .h-100Percent {
//   height: 100%;
// }

.object-cover{
  object-fit: cover !important;
}