.ant-pagination {
    color      : $primary-color;
    font-size  : 16px;
    font-weight: $fnt-semibold;
    text-align : center;
    padding    : 40px 0;
}

.ant-pagination-item {
    border-radius: 50%;
    background   : transparent;
    border       : transparent;
    margin-right : 10px;

    &.ant-pagination-item-active,
    &.ant-pagination-item-active a {
        border-radius   : 50%;
        background-color: $anchor-color;
        color           : $white;
    }
}