$primary   : #2C3577;
$secondary : #F68F51;
$gray-400  : #414042;
$grey : #A4A4A4;

// $bg-gradient-primary : linear-gradient(124.29deg, #E3E5F8 3.86%, #FFFFFF 17.86%, #FFFFFF 54.75%);
$bg-gradient-primary : linear-gradient(114.84deg, #E3E6FF 0%, rgba(217, 217, 217, 0) 12.45%);
$bg-mobile-gradient-primary : linear-gradient(114.84deg, #E3E6FF 0%, rgba(217, 217, 217, 0) 12.45%);
$bg-gradient-secondary:linear-gradient(180deg, rgba(45, 53, 119, 0) 36.34%, #2D3577 100%);