.hover-class {
  position: absolute;
  left: auto;
  padding: 35px;
  z-index: 69;
  box-shadow: 0px 11px 70px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
}
.dev-width {
  width: 70%;
}
.res-width {
  width: 55%;
}
.sol-left {
  left: -24%;
}
.comp-width {
  width: 35%;
}
.dev-left {
  left: 4%;
}
.comp-left {
  left: 35%;
}
.res-left {
  left: 47%;
}
.triangle-up:before {
  content: "";
  position: absolute;
  top: -6%;
  left: 35%;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 20px solid #ffff;
}
header[data-type="secondary"] .a_a {
  color: #2c3577 !important;
}
.hover-class:hover {
  transition: all 0.5s ease-out;
}

.dangerous{
  color: rgba(255, 255, 255, 0.45);
  mark{
    color:rgba(255, 255, 255, 1) !important;
    background-color: transparent !important;
  }
}